{% extends 'base.html.twig' %}

{% block title %}Éditer SupplierOrder
{% endblock %}

{% block body %}
	<h1>Éditer SupplierOrder</h1>

	{{ include('supplier_order/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_supplier_order_index') }}">Retour à la liste</a>

	{{ include('supplier_order/_delete_form.html.twig') }}
{% endblock %}
