{% extends 'base.html.twig' %}

{% block title %}Éditer CustomerOrder
{% endblock %}

{% block body %}
	<h1>Éditer CustomerOrder</h1>

	{{ include('customer_order/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_customer_order_index') }}">Retour à la liste</a>

	{{ include('customer_order/_delete_form.html.twig') }}
{% endblock %}
