<form method="post" action="{{ path('app_line_customer_delete', {'prize': line_customer.prize}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ line_customer.prize) }}">
    <button class="btn">Delete</button>
</form>
