{% extends 'base.html.twig' %}

{% block title %}Edit LineCustomer
{% endblock %}

{% block body %}
	<h1>Edit LineCustomer</h1>

	{{ include('line_customer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_line_customer_index') }}">Retour à la liste</a>

	{{ include('line_customer/_delete_form.html.twig') }}
{% endblock %}
