{% extends 'base.html.twig' %}

{% block body %}
	<div>Ces produits seront bientôt épuisés :
		{% for product in products %}
			<li>{{ product.nameProduct }}
				/ quantité restante :
				{{ product.quantityProduct}}</li>
		{% endfor %}
	</div>
{% endblock %}
