{% extends 'base.html.twig' %}

{% block title %}New Color
{% endblock %}

{% block body %}
	<h1>Ajouter Color</h1>

	{{ include('color/_form.html.twig') }}

	<a href="{{ path('app_color_index') }}">Retour à la liste</a>
{% endblock %}
